<%= form_for @workout do |f| %>


    <%= f.label :date %><br>
    <%= f.date_field :date, placeholder: "Date of Training" %><br>


    <%= f.label :workout %><br>
    <%= f.text_field :workout, placeholder: "What Kind of Training?" %><br>


    <%= f.label :duration %><br>
    <%= f.text_field :duration, placeholder: "Duration of Workout" %><br>


    <%= f.fields_for :exercises do |builder| %>
      <%= render "exercise_fields", :f => builder %>
    <% end %><br>


  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>