<h1><%= @workout.workout %></h1>


<div class="row">
    <div class="col-sm-6">
    
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td><h2><%= @workout.date %></h2></td>
            </tr>

            <tr>
               <td><%= @workout.duration %></td>
            </tr>

            <div id="exercises">
              <h2>Exercises</h2>
              <% render @workout.exercises %>

              <h3>Add an exercise</h3>
              <% render "exercises/form" %>
            </div>

 
          </tbody>
        </table>
      </div><br>
      <%= link_to 'Edit', edit_workout_path(@workout) %> | 
      <%= link_to 'Back', workouts_path %> | 
      <%= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>


