<%= form_for (@workout, @exercise) do |f| %> <!-- id is new_exercise by default rails -->


  <div class="field">
    <%= f.label :name %><br>
    <%= f.date_field :name, placeholder: "Exercise" %>
  </div><br>

  <div class="field">
    <%= f.label :sets %><br>
    <%= f.text_field :sets, placeholder: "How Many Sets?" %>
  </div><br>

  <div class="field">
    <%= f.label :reps %><br>
    <%= f.text_field :reps, placeholder: "How Many Reps?" %>
  </div><br>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>